$heartActiveColor: #ff2d55;
$heartColor: #a0b0c0;

.custom-swiper {
  padding: 0 50px;
  height: 100%;
  h3 {
    font-size: 80px;
    font-weight: bold;
    line-height: 90px;
  }
  section {
    font-size: 40px;
    &.intro {
      line-height: 50px;
      padding-top: 50px;
      display: flex;
      .profile {
        width: 50%;
        padding-left: 50px;
        p {
          margin-bottom: 30px;
        }
      }
    }
    &.skill {
      display: flex;
      flex-wrap: wrap;
      .box {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: calc(25% - 20px);
        height: 160px;
        margin: 0 20px 50px 0;
        cursor: default;
        &:nth-child(4n) {
          margin-right: 0;
        }
        img {
          width: 100px;
          height: 100px;
        }
        span {
          display: block;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
    &.experience {
      display: flex;
      flex-wrap: wrap;
      div {
        width: 400px;
        flex: 1 1 28%;
        box-sizing: border-box;
        background: #ffc;
        padding: 10px 20px;
        box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
        transform: rotate(-6deg);
        margin: -10px 25px 0px 25px;
        &:nth-child(2),
        &:nth-child(6) {
          transform: rotate(4deg);
          position: relative;
          top: 5px;
          background: #cfc;
        }
        &:nth-child(3),
        &:nth-child(4) {
          transform: rotate(-3deg);
          position: relative;
          top: -5px;
          background: #ccf;
        }
        &:nth-child(-n + 3) {
          margin-bottom: 60px;
        }
        &:hover,
        &:focus {
          box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
          transform: scale(1.1) !important;
          position: relative;
          z-index: 5;
          cursor: default;
          transition: transform 0.3s ease-in-out;
        }
      }
      h4 {
        font-weight: bold;
        margin-bottom: 10px;
      }
      ul {
        li {
          font-size: 24px;
          margin-bottom: 15px;
          line-height: 26px;
          white-space: normal;
          &:last-child {
            margin-bottom: 0;
          }
          strong {
            font-size: 27px;
          }
          em {
            text-decoration: underline;
            text-decoration-style: wavy;
            text-decoration-color: red;
          }
        }
      }
    }
    &.link {
      display: flex;
      flex-wrap: wrap;
      .box {
        width: calc(25% - 20px);
        margin: 0 20px 20px 0;
        background-color: #fff;
        border: 2px solid #ccf;
        overflow: hidden;
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:hover {
          img {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
          }
        }
        img {
          width: 320px;
          height: 180px;
          overflow: hidden;
          border-bottom: 2px dashed #ccf;
        }
        span {
          display: flex;
          padding: 10px;
          font-size: 26px;
          line-height: normal;
          justify-content: center;
          white-space: break-spaces;
          text-align: center;
        }
      }
    }
    &.timeline {
      display: flex;
      flex-wrap: wrap;
      height: 550px;
      align-items: center;
      justify-content: center;
    }
    &.plans {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .box {
        border: 5px dotted #ccf;
        box-sizing: border-box;
        width: calc(45% - 15px);
        padding: 15px;
        margin-right: 0;
        line-height: 45px;
        h4 {
          font-weight: bold;
          line-height: 60px;
        }
        &:first-child {
          margin-right: 30px;
        }
        &:last-child {
          width: 90%;
          margin-top: 30px;
        }
      }
    }
  }

  :global(.swiper-pagination) {
    right: 0;
  }

  :global(.pagination) {
    position: relative;
    width: 70px;
    height: 70px;
    background: none;
    opacity: 1;
    margin: 20px 0 !important;
  }

  :global(.heart) {
    width: 70px;
    height: 70px;
    fill: $heartColor;
    padding-left: 5px;
    transition:
      fill 0.15s,
      transform 0.12s;
  }

  :global(.pagination:hover .heart),
  :global(.pagination.active .heart),
  :global(.pagination.swiper-pagination-bullet-active .heart) {
    fill: $heartActiveColor;
  }
}
